footer &copy; Doki Enterprises 2014
script(src='https://code.jquery.com/jquery.js')
script.    
    $(document).ready(function() {
        $("#{page}").addClass("active");
    });     
script(src='scripts/bootstrap.min.js')