.navbar(class=['navbar-inverse', 'navbar-fixed-top'])
	.container
		.navbar-header
			button.navbar-toggle
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') #{title}
		.navbar-collapse
			ul(class=['nav', 'navbar-nav'])
				li#home
					a(href='/') Home
				li#about
					a(href='/about') About
				li#publish
					a(href='/publish') Publish