body {
	padding-top: 30px;
}

.nav-pills > li.success > a,
.nav-pills > li.success > a:hover,
.nav-pills > li.success > a:focus {
  color: #fff;
  background-color: #5cb85c;
}

.nav-pills > li.danger > a,
.nav-pills > li.danger > a:hover,
.nav-pills > li.danger > a:focus {
  color: #fff;
  background-color: #d9534f;
}